<ion-view title="帳戶列表">
    <ion-content scroll="false">
        <ion-list>
            <div ng-if="accountsCtrl.isLoggedIn">
                <ion-list>
                    <div class="row header">
                        <div class="col colored">序號</div>
                        <div class="col colored">帳戶</div>
                        <div class="col colored">餘額</div>
                        <div class="col colored">交易</div>
                        <div class="col colored">訊息</div>
                        <div class="col colored">
                            <input type="button" value="推播" ng-click="accountsCtrl.pushMessage()" />
                        </div>
                    </div>
                    <div class="row" ng-repeat="account in accountsCtrl.accounts">
                        <div class="col colored">{{account._id}}</div>
                        <div class="col colored">{{account.name}}</div>
                        <div class="col colored">{{account.balance | currency:"":0}}</div>
                        <div class="col colored" ng-click="accountsCtrl.showTransactions(account)">
                            <i class="icon ion-ios-list-outline"></i>
                        </div>
                        <div class="col colored" ng-click="accountsCtrl.showMessages(account)">
                            <i class="icon ion-android-textsms"></i>
                        </div>
                        <div class="col colored">
                            <input type="checkbox" checklist-model="accountsCtrl.receivers" checklist-value="account" />
                        </div>
                    </div>
                </ion-list>
            </div>
            <div ng-if="!accountsCtrl.isLoggedIn">
                <br />
                <h3 align="center">請登入或開戶</h3>
            </div>
        </ion-list>
    </ion-content>
</ion-view>